.div1 {
    border: 3px solid;
    border-color: blue;
    padding: 50px;
    background-color: aquamarine;
}
.p1 {
    border: 5px solid ;
    border-left: 4px dotted ;
    border-color:red;
    padding: 10px;
    background-color: aqua;
}
.p2 {
    border: 5px dotted;
    border-color:red;
    padding: 10px;
    background-color: antiquewhite;
}
.p3{
    border: 5px solid;
    border-color: black;
    padding:100px;
    background-color: bisque;
}